*{
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    list-style: none;
    text-decoration: none;
  }
  li{
    list-style: none;
    text-decoration: none;
  }

/* *********************header***************** */
header{
    background-color: white;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: #665cbe;
}


nav{
    display: flex;
    align-items: center;  
}

.logo{
    overflow: hidden;
    width: 20vw;
  height: 15vh;
}

.input{
    padding-right: 20px;
  font-size: 1em;
  
}




/* **************section****************************** */
.rubrique {
    background-color: #201e20;
    color: #fff;
    height: 100px;
    text-align: center;
    font-size: 26px;
    
}
#color1{
    color: #665cbe;
}
#color2{
    color: #9bc848;
}
#color3{
    color: #fe0016;
}



/* **********ACCESSOIRES********** */

 .BIGBOSS {
    display: flex;
    background-color: white;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  
    
  }
  
  .card {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  
  .div-image {
    width: 100%;
    height: auto;
  }
  
  .card-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
  }
  .card-p {
    height: 20vh;
  }
  
  .div-info {
    display: flex;
    width: 105%;
  }
  .div-b {
    width: 100%;
    margin: 20px;
    font-size: 2em;
  }
  button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  } 

  

  /* ******************************footer************************ */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    box-shadow: 0px -1px 4px -1px rgb(207 207 207);
    margin-top: 50px;
    padding-top: 15px;
    background-color: #665cbe;
  }
  
  .bigContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 10px;
    
  }
  
  .newsletter {
    text-align: center;
    width: 50%;
    height: auto;
  }
  
  .followUs {
    text-align: center;
    width: 50%;
    height: auto;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 18px 0 10px 0;
  }
  
  .copyright a {
    position: relative;
    left: 10px;
    bottom: 1px;
  }
  
  .imglogos {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .imgFacebook {
    position: relative;
    left: -6px;
  }
  
  .imgTwitter {
    position: relative;
    left: -4px;
  }
  
  .imglogos:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
  }
  
  @-webkit-keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  
  .titleNewsletter {
    font-size: 30px;
  }
  
  .titleFollowUs {
    font-size: 30px;
  }
  
  .E-mail {
    margin-top: 10px;
  }
  
  .logoWCS {
    height: 25px;
    width: 75px;
  }
  
  .logoWCS:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
  }
  
  @-webkit-keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* NEWSLETTER */
  
  .enterEmail {
    display: block;
  }
  
  .inputEmail1 {
    margin: 0.4rem 0;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 0.3em 0.3em 0.3em 0.3em;
  }
  
  .inputEmail2 {
    margin: 0.4rem 0;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 0.3em 0.3em 0.3em 0.3em;
    cursor: pointer;
  }
  
  .inputEmail2:hover {
    background-color: #ced1ce;
  }
  
  .inputEmail2:active {
    background-color: #ced1ce;
    box-shadow: 0 1px #666;
    transform: translateY(2px);
  }
  