
body{
    background-color: #fff;
}
/* ****************** header ***************** */
.lien {
    text-align: right;
    text-decoration: none;
    
}
.form-group {
    width:500px;
}

/* ****************** Main ***************** */


/* ****************** section 1 *************** */
.rubrique {
    background-color: #201e20;
    color: #fff;
    height: 100px;
    text-align: center;
    font-size: 26px;
    
    
}
#color1{
    color: #665cbe;
    text-decoration: none;
}
#color2{
    color: #9bc848;
    text-decoration: none;
}
#color3{
    color: #fe0016;
    text-decoration: none;
}
/* ******************** section 2 ***************** */

  
#item1 {
    height: 150px;
    
}
#item2 {
    height: 150px;
    
}
    


#item3 {
    height: 150px;

}

#item4 {
    height: 150px;

}

#item5 {
    height: 150px;

}
#item6 {
    height: 150px;

}
#item7 {
    height: 150px;

}

#item8 {
    height: 150px;

}

#item9 {
    height: 150px;

}



/* ******************** FOOTER ********************* */

footer {
    background-color: #b3a79f;
    
}
.footer-logo {
    text-align: right;
    

    
}
.footer-icon{
    text-align: center;
    font-size: 100px;
}
.network {
    position: absolute;
    
}