
body{
    background-color: #fff;
}
/* ****************** header ***************** */
.lien {
    text-align: right;
    text-decoration: none;
    
}
.form-group {
    width:500px;
}

/* ****************** Main ***************** */


/* ****************** section 1 *************** */
.rubrique {
    background-color: #201e20;
    color: #fff;
    height: 100px;
    text-align: center;
    font-size: 26px;
    
    
}
#color1{
    color: #665cbe;
    text-decoration: none;
}
#color2{
    color: #9bc848;
    text-decoration: none;
}
#color3{
    color: #fe0016;
    text-decoration: none;
}
/* ******************** section 2 ***************** */

  
#item1 {
    height: 150px;
    
}
#item2 {
    height: 150px;
    
}
    


#item3 {
    height: 150px;

}

#item4 {
    height: 150px;

}

#item5 {
    height: 150px;

}
#item6 {
    height: 150px;

}
#item7 {
    height: 150px;

}

#item8 {
    height: 150px;

}

#item9 {
    height: 150px;

}



/* ******************** FOOTER ********************* */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    box-shadow: 0px -1px 4px -1px rgb(207 207 207);
    margin-top: 50px;
    padding-top: 15px;
    background-color: #665cbe;
  }
  
  .bigContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 10px;
  }
  
  .newsletter {
    text-align: center;
    width: 50%;
    height: auto;
  }
  
  .followUs {
    text-align: center;
    width: 50%;
    height: auto;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 18px 0 10px 0;
  }
  
  .copyright a {
    position: relative;
    left: 10px;
    bottom: 1px;
  }
  .imglogos {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .imgFacebook {
    position: relative;
    left: -6px;
  }
  
  .imgTwitter {
    position: relative;
    left: -4px;
  }
  
  .imglogos:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
  }